.addColumnWrap {
  background-color: #B4DBFF;
  width: 250px;
  max-height: 85px;
  border-radius: 5px;
}

.addColumnBtnWrap {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 8px;
}

.addIcon {
  padding: 5px;
  border-radius: 3px;

  &:hover {
    background-color: #73A7F6;;
    cursor: pointer;
  }
}