@import "src/assets/sass/glob";

.createCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 210px;
  height: 112px;
  background-image: $bg-createCard;
  border-radius: 20px;

  &:hover {
    background-image: $bg-hover-createCard;
  }
}