@import "src/assets/sass/glob";

.todoColumnCardWrap {
  display: flex;
  width: 285px;
  background-color: #B4DBFF;
  border-radius: 5px;
  padding: 10px 3px 10px 10px;
  margin-right: 20px;
  max-height: 130px;
}

.todoColumnCard {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 90%;

  &__title {
    padding: 5px;
  }

}

body .addTodoBtn {
  background: #A6C9FF;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 150px;
  max-height: 30px;
  margin-top: 5px;

  &__title {
    margin-left: 5px;
  }

  &:hover {
    background-color: #73A7F6;
  }
}

.settings {
  display: flex;
  justify-content: center;
  width: 10%;
}

.settingsIcon {
  padding: 2px;
  margin-left: 5px;

  &:hover {
    border-radius: 5px;
    background-color: #73A7F6;
    cursor: pointer;
  }
}